---
title: Features
layout: article
---

p Monolith is packed with features that will make you more productive and ship products faster to production.
-site.glob("features/**.html.*").each do |page|
  h2.text-2xl=link_to_page page
