<%= render_layout "application" do %>
  <main class="container mx-auto my-28 px-5 flex flex-col gap-y-28 items-center">
    <%= image_tag "logo.svg", size: "190x362" %>
    <article class="prose">
      <%= yield %>
    </article>
  </main>
<% end %>