<%= render_layout "application" do %>
  <div class="container mx-auto flex flex-col md:flex-row md:gap-32 md:m-32 p-6">
    <header class="container flex flex-col w-fit gap-12">
      <nav class="flex flex-col gap-4 md:sticky md:top-32">
        <%= link_to "/", class: "mb-8" do %>
          <%= image_tag "logo.svg", size: "96x181" %>
        <% end %>
        <a href="/projects">Projects</a>
        <a href="https://discord.com/channels/1077719467787825202/1077719468622479362">Discord</a>
      </nav>
    </header>
    <main class="mt-12">
      <%= yield %>
    </main>
  </div>
<% end %>
